nav {
  ul {
    margin              : 0;
    padding             : 0;
    list-style          : none;
    li {          
      display           : inline-block;
      a {           
        display         : block;
        padding         : 3px 8px;
        font-weight     : bold;
        text-decoration : none;
      }
      a:hover {
        text-decoration : underline;
      }
    }
  }                 
}
