.icon-40px {
  font-size : 40px;
  height    : 40px;
  width     : 40px;
}

.icon-60px {
  font-size : 60px;
  height    : 60px;
  width     : 60px;
}

.icon-80px {
  font-size : 80px;
  height    : 80px;
  width     : 80px;
}

.icon-100px {
  font-size : 100px;
  height    : 100px;
  width     : 100px;
}
